 *,*::before,*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1 4rem;
    line-height: 1.56;
    width: 100%;
 }

.row{
    display: flex;
    justify-content: center;
    text-align: center;
}

.row-50{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    margin-bottom: 40vh;
    margin-left: 10rem;
 }

.row-100{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row-200{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.row-300{
    width: 100%;
    display: flex;
 }

.custom-font{
    font-family: Arial, Helvetica, sans-serif;
}
 
header{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: ;
    background-repeat: no-repeat;
    background-size: cover;
}

header #image-logo{
    margin-left: 5rem;
    
}

header #image-menu{
    width: 1.5rem; 
    height: 1.6rem; 
    margin-left: 75%; 
    background-image: ;
}

.img-container .gallery-img-1{
    background-image: url(./logo.png);
}

img menu.svg{
   height: 2rem;
}

 
.row-90{
    display: flex;
    align-items: column;
    justify-content: left;
    margin-top: -20rem;
    font-display: space-between;
}

.banner-section{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: white;
    padding: 190px 100px 10px;
    background-image: url(https://i.postimg.cc/y8jwfX2Y/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    overflow:inherit;
}
 
#banner-text{
    margin-top: 4%;
    font-size: 8.3vh;
    width: 80%;
    height: 2%;
    font-weight:20;
    display: flex;
}

.text-sub{
    display: flex;
    color: white;
    margin-top: 3rem;
    font-size: 1.2rem;
    margin-left: 1rem;
}

 h1{
    width: 60%;
    font-weight: lighter;
}

.banner-heading .services{
    margin-bottom: 50vh;
    font-size: 14vh;
    font-weight:900;
    margin-top: 2.6rem;
}
 
.banner-heading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-115%);
    width: 43%;
    height: 11px;
    background-color: white;
    margin-top:530px;
    margin-left: 95px;
}

.underneath-sections{
    display: flex;
    flex-direction: row;
} 

#Article-section{
    width: 100%;
    height: 80vh;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

#Article-section button{
    padding: 16px;
    border-style: solid;
    border-color: red;
    border: none;
    border-radius: 0.5rem;
    width: 150px;
    height: 53px;
    font-weight: bold;
    color: white;
    background-color:#E71A23;
    margin-bottom: 94px;
 }

 #Article-section button:hover{
    background-color: #D1161E;
}


.text-article{
    color:  #A4A4A4;
    font-size: 1.2rem;
    margin-top: 168px;
 }

#text-article2{
     color: black;
     font-size: 3rem;
     font-weight: bold;
     font-stretch:narrower;
     margin-bottom: 22px;
 }

#text-article3{
    font-size: 1.5rem;
    font-weight: lighter;
    font-style:normal;
    text-align: center;
    width: 70%;
    margin-bottom: 39px;
 }
 
.help-section{
    width: 100%;
    height: 110vh;
    background-color: #FFFFFF;
    padding:60px 168px ;
    display: flex;
    padding: 2rem auto;
}

.container1 p{
    font-size:1rem;
    width: 365px;
    margin-left: 60px;
    margin-top: 60px;
}

.container2 #text-help1{
   margin-top: 0.6rem;
}

.container2 #img-x{
    margin-top: 4rem;
    border: 200px;
    
}

.help-section h3{
    font-size: 2.1rem;
}

.help-section #text-help1{
    color: #E71A23;
    font-size: 1.7rem;
    font-weight: bold;
}

.help-section .container1{
    display: 
    align-items: center;
}


.help-section .container2{
    margin-left: 30px;
    margin-top:46px;
}

.best-quality-section{
    background-image: url(https://i.postimg.cc/VkwJ9mcP/4-bckgrd.jpg) ;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.best-quality-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(0);
    width: 38%;
    height: 11px;
    background-color: #E71A23;
    margin-top: 151.3rem;
    margin-right: 1rem;
}

.best-quality-section .img-k{
    image-resolution: 2rem;
    width: 32.5rem;
    height: auto;
    margin-left: 6rem;
    margin-top: 2rem;
}

#text-quality{
    font-size: 4rem;
    color: #104E92;
    margin-top: 12rem ;
    margin-left: 3.5rem;
}

#text-help5{
    margin-top: 3.3rem;
    width: 60%;
    font-size: 1.4rem;
    font-weight: lighter;
    margin-left: 3.5rem;
}

.best-quality-section button{
    padding: 16px;
    border-style: solid;
    border-color: red;
    border: none;
    border-radius: 0.3rem;
    width: 150px;
    height: 53px;
    font-weight: bold;
    color: white;
    background-color:#E71A23;
    margin-left: 3.5rem;
    margin-top: 2rem;
 }

.best-quality-section button:hover{
    background-color: #D1161E;
}

.our-services-section{
    width: 100%;
    height: 515px;
    background-color: #FFFFFF;
    display: flex ;
    justify-content: center;
    flex-direction: column;
    margin-left: -2rem;
    overflow: hidden;
}

.Our-service-text{
    font-size: 3rem;
    font-weight: bold;
    margin-top: -0rem;
    margin-bottom: 2rem;
    margin-left: 10%;
}

.image-ourservices-session{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: left;
    overflow: hidden;
    margin-left: 10rem;
}

.our-services-section .image-ourservices-session 
.Painting #images1{
    width: 5rem; 
}

.our-services-section .image-ourservices-session 
.Electrical #images2{
    width: 5rem; 
    margin-left: 0;
}

.our-services-section .image-ourservices-session 
.Repair #images3{
    width: 5rem;
}

h5{
    font-size: 1.5em;
    margin-top: 2.3%;
    width: 50%;
 }

.image-ourservices-session p{
    font-size: 1.15rem;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 80% ;
 }

.Painting, .Electrical, .Repair{
     width:30%;
 }

.section-plumbing{
    width: 100%;
    height: 582px;
    background-color: #104E92;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    padding:4rem;
}

.text-plumbing{
    flex-direction: column;
    margin-right: 5rem;
}

.text-plumbing p{
    font-size: 1.15rem;
    color: white;
    width: 30%;
    margin-top: 0rem;
}

.section-plumbing .text-plumbing #plumbing{
    color: white;
    font-size: 6.5rem;
    margin-top: -2.4rem;
}

.section-plumbing .text-plumbing #services{
    color: white;
    font-size: 6.5rem;
    font-weight: 700;
    margin-top: -2.4rem;
}

.image-plumbing{
    flex-direction: row;
    margin-right: -0.4rem;
    flex-wrap: wrap;
}

.image-plumbing #img-plumbing1{
    width: 212px; 
    height: 13.2rem; 
    overflow: hidden; 
    object-fit:cover; 
}

.image-plumbing #img-plumbing2{
    width: 212px; 
    height: 13.2rem; 
    overflow: hidden; 
    object-fit:cover;
    margin-right: -2rem;
}

.image-plumbing #img-plumbing3{
    width: 212px; 
    height: 13.2rem; 
    overflow: hidden; 
    object-fit:cover;
}

.image-plumbing #img-plumbing4{
    width: 212px; 
    height: 13.2rem; 
    overflow: hidden; 
    object-fit:cover; 
    margin-right: -2rem;
}

.section-to-do{
    width: 100%;
    height: 516px;
    background-color: #FFFFFF;
    padding: 4.5rem;
 }

.section-to-do .text-9{
    font-size: 2.1rem;
    font-weight: bold;
    width: 50%;
 }

.text-9 p{
     font-size: 1.89rem;
     font-weight: lighter;
     margin-top: 1.5rem;
 } 

.button-to-do{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;
} 

.button-to-do .button1{
    padding: 16px;
    border-style: solid;
    border-color: red;
    border: none;
    border-radius: 0.2rem;
    width: 150px;
    height: 53px;
    font-weight: bold;
    color: white;
    background-color:#E71A23;
    margin-bottom: 94px;
}

.button-to-do .button1:hover{
    background-color: #D1161E;
}

.button-to-do .button2{
    padding: 16px;
    border-style: solid;
    border-color: black;
    border: black solid
    border-radius: 0.3rem;
    width: 160px;
    height: 53px;
    font-weight: bold;
    color: black;
    background-color:white;
    margin-bottom: 94px;
    margin-left: 0.8rem;
}

.button-to-do .button2:hover{
    color: rgb(214, 234, 253);
}

footer{
    width: 100%;
    height:239px;
    background-color: #333333;
    padding:50px;
}

footer .text-footer1{
    color: white;
    width: 38%;
    justify-content: center;
    text-align: center;
}

footer .text-footer{
    color: white;
    width: 100%;
    justify-content: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
}

footer .text-footer a{
  text-decoration: underline;
 color: rgb(174, 174, 253);
}




 
@media only screen and (max-width:378px) {
    
    header{
        width: 100% ;
        height: 80px;
        display: flex;
        justify-content: left;
        align-items: center;
        overflow: hidden;
    }
    
    .row-200{
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        display: flex;
    }

    .row-90{
        display: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    .row-300{
        width: 100%;
        display: flex;
    }


    header #image-logo{
        width: 11rem;
        margin-left: 2rem;
     }

    header #image-menu{
        width: 4rem;
        margin-left: -0rem;
        width: 20rem;
    } 

    .banner-section{
        display: flex;
        justify-content: center;
        object-position: center;
        background-color: black;
        overflow: hidden;
    }

    .banner-section {
        display: flex;
        justify-content: center;
        object-position: center;
        background-position:-390px;
        background-color: black;
        overflow: hidden;
        margin-left: -6rem;
    }

    .banner-heading #banner-text{
        font-size: 2rem;
        width: 160%;
        flex-direction: row;
        display: flex;
        justify-content: left;
        margin-left: -5rem;
        margin-top: 26rem;
        margin-bottom: 0.7rem;
    }

    .banner-heading .services{
        font-size: 3.5rem;
        flex-direction: row;
        display: flex;
        justify-content: left;
        margin-left: -5rem;
        margin-top: -0rem;
    }
   
 
    .banner-heading::before {
        content: '';
        position: absolute;
        top: 0;
        transform:scaleX(200px);
        width:87%;
        height: 11px;
        background-color: white;
        margin-top:620px;
        margin-left: 40px;
    }
    
    #Article-section{
        align-items: center;
        display: flex; 
        justify-content: center;
        height: 100%;
    }

    .text-article{
        font-size: 1.2rem;
        margin-top: 5rem;
        margin-bottom: 1.2rem;
    }

    .row-200 #text-article2{
        font-size: 3rem;
        width: 80%;
        align-content: center;
        justify-content: center;
        display: flex;
        text-indent: none;
        text-align: center;
        line-height: 3.5rem;
    }

    h2{
       flex-direction: row;
       justify-content: center;
       }

    #text-article3{
       font-weight: 20;
       font-size:1rem;
       margin-top: 1rem;
    }

    .help-section{
        display: flex;
        justify-content: center;
        height:1200px;
        flex-direction: column;
        margin-right: 0;
        width: 96%;
        background-color: white;
        display: flex;
        padding: 0px;
        overflow: hidden;
        object-fit: cover;
        margin-left: 0px;
        margin-right: 0px;
    }

    .help-section p{
        margin-left: 0;
        margin-right: 0px;
    }

    .help-section .container1 {
        overflow: hidden;
        object-fit: cover;
        margin-right: 0px;
        margin-left: 1rem;
        width: 100%;
    }

    .help-section .container1 p{
        width: 82%;
        margin-left: 0.7rem;
    }

    .help-section .container2{
        margin-right: 0px;
        margin-left: 1rem;
    }
    
    .help-section .container2 h3{
        font-size: 1.7rem;
        margin-left: 0.7rem;
    }

    .help-section .container2 #text-help1{
        margin-left: 0.7rem;
        font-size: 1.5rem;
    }
    
    .best-quality-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        padding: 2rem;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .best-quality-section .img-k{
        image-resolution: 1rem;
        width: 21rem;
        height: 29rem;
        align-items: center;
        margin-left: 0;
        margin-top: -2rem;
    }
        
    .best-quality-section .text {
        justify-content:flex-end;
        margin-left: -2rem;
    }  

    #text-quality{
        font-size: 3.2rem;
        color: #104E92;
        margin-top: 6rem ;
        margin-left: 2rem;
        width: 85%;
    }

    .best-quality-section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-150px);
        width: 80%;
        height: 11px;
        background-color: #E71A23;
        margin-top: 199rem;
        margin-right: 1rem;
    }
    
    .best-quality-section #text-help5{
        margin-top: 3.3rem;
        width: 84%;
        font-size: 1.1rem;
        font-weight:lighter;
        margin-left:2.5rem; 
    } 

    .best-quality-section button{
        padding: 16px;
        border-style: solid;
        border-color: red;
        border: none;
        border-radius: 0.3rem;
        width: 150px;
        height: 53px;
        font-weight: bold;
        color: white;
        background-color:#E71A23;
        margin-left: 2.6rem;
        margin-top: 2rem;
    }

    .best-quality-section button:hover{
        background-color: #D1161E;
    }

    .our-services-section{
        width: 375px;
        height: 1000px;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        padding: 1rem;
    }
    
    .Our-service-text{
        font-size: 2.7rem;
        font-weight: bold;
        margin-top: -0rem;
        margin-bottom: 2rem;
    }
    
    .image-ourservices-session{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 3rem;
    }
    
    .our-services-section .image-ourservices-session 
    .Painting #images1{
        width: 5rem; 
    }
    
    .our-services-section .image-ourservices-session 
    .Electrical #images2{
        width: 5rem; 
        margin-left: 0;
    }
    
    .our-services-section .image-ourservices-session 
    .Repair #images3{
        width: 5rem;
    }
    
    h5{
        font-size: 1.5em;
        margin-top: 2.3%;
        width: 50%;
    }
    
    .image-ourservices-session p{
        font-size: 1.15rem;
        font-style: italic;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: lighter;
        width: 85%;
        flex-direction: row;
    }
    
    .Painting, .Electrical, .Repair{
         width:100%; 
         justify-content: center;
    }
 
    .section-plumbing{
        width: 100%;
        height:1500px;
        background-color: #104E92;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        padding:4rem;
    }

    .text-plumbing{
        flex-direction: column;
        margin-right: 5rem;
        margin-top:22rem;
        margin-bottom: -6.8rem;
    }

    .text-plumbing p{
        font-size: 1.15rem;
        color: white;
        width: 70%;
        margin-top: -20rem;
        margin-bottom: 2rem;
    }

    .section-plumbing .text-plumbing #plumbing{
        color: white;
        font-size: 3.5rem;
        margin-top: -2.4rem;
        margin-bottom: 1rem;
    }

    .section-plumbing .text-plumbing #services{
        color: white;
        font-size: 3.5rem;
        font-weight: 700;
        margin-top: -2.4rem;
    }

    .image-plumbing{
        flex-direction: row;
        margin-right: 9rem;
        flex-wrap: wrap;
        width: 85%;
        flex-direction: column;
        margin-top: 0;
    }

    .image-plumbing #img-plumbing1{
        width: 168%;
        height: 18rem;
        overflow: hidden; 
        object-fit:cover; 
    }
    
    .image-plumbing #img-plumbing2{
        width: 168%;
        height: 18rem;
        overflow: hidden; 
        object-fit:cover;
        margin-right: -2rem;
    }
    
    .image-plumbing #img-plumbing3{
        width: 168%;
        height: 18rem;
        overflow: hidden; 
        object-fit:cover;
    }
    
    .image-plumbing #img-plumbing4{
        width: 168%;
        height: 18rem;
        overflow: hidden; 
        object-fit:cover; 
        margin-right: -2rem;
    }


    .section-to-do{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        padding: 1.8rem;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-to-do .text-9{
        font-size:1.7rem;
        font-weight: bold;
        width: 10000px;
    }

    .section-to-do .text-9 #text-p{
        font-size: 1.4rem;
        font-weight: normal;
        margin-top: 1.5rem;
        width: 85%;
        justify-content:center;
        font-display: center;
        margin-left: 1.4rem;
        margin-right: -2rem;
    } 

    .button-to-do{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 3rem;
        margin-right: -2rem;
    } 
    .row{
       align-items: center;
       display: flex;
       margin-left: 0px;
       margin-right: 0px;
    }
    .button-to-do .button1{
        padding: 16px;
        border-style: solid;
        border-color: red;
        border: none;
        border-radius: 0.2rem;
        width: 150px;
        height: 53px;
        font-weight: bold;
        color: white;
        background-color:#E71A23;
        margin-bottom:2rem;
        margin-left: 2rem;
        margin-top: 1.5rem;
    }

    .button-to-do .button1:hover{
        background-color: #D1161E;
    }

    .button-to-do .button2{
        padding: 16px;
        border-style: solid;
        border-color: black;
        border: black solid
        border-radius: 0.3rem;
        width: 160px;
        height: 53px;
        font-weight: bold;
        color: black;
        background-color:white;
        margin-right: -4rem;
        margin-left: 1.7rem; 
    }

    .button-to-do .button2:hover{
        color: rgb(214, 234, 253);
    }

    footer{
        width: 100%;
        height:239px;
        background-color: #333333;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .text-footer1{
        color: white;
        width: 86%;
        margin-top: -3.23rem;
        font-size: 0.89rem;
    }

    .sample-section .text-footer{
        width: 110%;
        margin-top:4rem;
        margin-bottom: -2rem;
    }

}


@media only screen and ( max-width:780px min-width: 385px, ) {
   
    .row-200{
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        display: flex;
    }

    .tek{
        margin-left: 0px;
        margin-right: 0px;
    }

    .row-90{
        display: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    .row-300{
        width: 100%;
        display: flex;
    }
    
    main{
        width: 100%;
        overflow: hidden;
    }

    header{
        width: 848px ;
        height: 80px;
        display: flex;
        justify-content: left;
        align-items: center;
        overflow: hidden;
    }
    
    header #image-logo{
        width: 11rem;
        margin-left: 2rem;
     }

    header #image-menu{
        width: 4rem;
        margin-left: 20rem;
        width: 20rem;
    } 

    .banner-section{
        display: flex;
        justify-content: center;
        object-position: center;
        background-position:-200px;
        background-color: rgb(156, 23, 23);
        overflow: hidden;
        border: black solid;
        image-rendering: unset;
        background-image: unset;
    }

    .banner-section {
        display: flex;
        justify-content: center;
        object-position: center;
        background-position:-390px;
        background-color: black;
        overflow: hidden;
    }

    .banner-heading #banner-text{
        font-size: 2rem;
        width: 160%;
        flex-direction: row;
        display: flex;
        justify-content: left;
        margin-left: -5rem;
        margin-top: 26rem;
        margin-bottom: 0.7rem;
    }

    .banner-heading .services{
        font-size: 3.5rem;
        flex-direction: row;
        display: flex;
        justify-content: left;
        margin-left: -5rem;
        margin-top: -0rem;
    }
   
 
    .banner-heading::before {
        content: '';
        position: absolute;
        top: 0;
        transform: translateX(-63%);
        width:87%;
        height: 11px;
        background-color: white;
        margin-top:620px;
        margin-left: 40px;
    }
    
    #Article-section{
        align-items: center;
        display: flex; 
        justify-content: center;
        height: 100%;
    }

    .text-article{
        font-size: 1.2rem;
        margin-top: 5rem;
        margin-bottom: 1.2rem;
    }

    .row-200 #text-article2{
        font-size: 3rem;
        width: 80%;
        align-content: center;
        justify-content: center;
        display: flex;
        text-indent: none;
        text-align: center;
        line-height: 3.5rem;
    }

    h2{
       flex-direction: row;
       justify-content: center;
       }

    #text-article3{
       font-weight: 20;
       font-size:1rem;
       margin-top: 1rem;
    }

    .help-section{
        display: flex;
        justify-content: center;
        height:1200px;
        flex-direction: column;
        margin-right: 0;
        width: 96%;
        background-color: white;
        display: flex;
        padding: 0px;
        overflow: hidden;
        object-fit: cover;
        margin-left: 0px;
        margin-right: 0px;
    }

    .help-section p{
        margin-left: 0;
        margin-right: 0px;
    }

    .help-section .container1 {
        overflow: hidden;
        object-fit: cover;
        margin-right: 0px;
        margin-left: 1rem;
        width: 100%;
    }

    .help-section .container1 p{
        width: 82%;
        margin-left: 0.7rem;
    }

    .help-section .container2{
        margin-right: 0px;
        margin-left: 1rem;
    }
    
    .help-section .container2 h3{
        font-size: 1.7rem;
        margin-left: 0.7rem;
    }

    .help-section .container2 #text-help1{
        margin-left: 0.7rem;
        font-size: 1.5rem;
    }
    
    .best-quality-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        padding: 2rem;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .best-quality-section .img-k{
        image-resolution: 1rem;
        width: 21rem;
        height: 29rem;
        align-items: center;
        margin-left: 0;
        margin-top: -2rem;
    }
        
    .best-quality-section .text {
        justify-content:flex-end;
        margin-left: -2rem;
    }  

    #text-quality{
        font-size: 3.2rem;
        color: #104E92;
        margin-top: 6rem ;
        margin-left: 2rem;
        width: 85%;
    }

    .best-quality-section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-150px);
        width: 80%;
        height: 11px;
        background-color: #E71A23;
        margin-top: 199rem;
        margin-right: 1rem;
    }
    
    .best-quality-section #text-help5{
        margin-top: 3.3rem;
        width: 84%;
        font-size: 1.1rem;
        font-weight:lighter;
        margin-left:2.5rem; 
    } 

    .best-quality-section button{
        padding: 16px;
        border-style: solid;
        border-color: red;
        border: none;
        border-radius: 0.3rem;
        width: 150px;
        height: 53px;
        font-weight: bold;
        color: white;
        background-color:#E71A23;
        margin-left: 2.6rem;
        margin-top: 2rem;
    }

    .best-quality-section button:hover{
        background-color: #D1161E;
    }

    .our-services-section{
        width: 375px;
        height: 1000px;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        padding: 1rem;
    }
    
    .Our-service-text{
        font-size: 2.7rem;
        font-weight: bold;
        margin-top: -0rem;
        margin-bottom: 2rem;
    }
    
    .image-ourservices-session{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 3rem;
    }
    
    .our-services-section .image-ourservices-session 
    .Painting #images1{
        width: 5rem; 
    }
    
    .our-services-section .image-ourservices-session 
    .Electrical #images2{
        width: 5rem; 
        margin-left: 0;
    }
    
    .our-services-section .image-ourservices-session 
    .Repair #images3{
        width: 5rem;
    }
    
    h5{
        font-size: 1.5em;
        margin-top: 2.3%;
        width: 50%;
    }
    
    .image-ourservices-session p{
        font-size: 1.15rem;
        font-style: italic;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: lighter;
        width: 85%;
        flex-direction: row;
    }
    
    .Painting, .Electrical, .Repair{
         width:100%; 
         justify-content: center;
    }
 
    .section-plumbing{
        width: 100%;
        height:1500px;
        background-color: #104E92;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        padding:4rem;
    }

    .text-plumbing{
        flex-direction: column;
        margin-right: 5rem;
        margin-top:22rem;
        margin-bottom: -6.8rem;
    }

    .text-plumbing p{
        font-size: 1.15rem;
        color: white;
        width: 70%;
        margin-top: -20rem;
        margin-bottom: 2rem;
    }

    .section-plumbing .text-plumbing #plumbing{
        color: white;
        font-size: 3.5rem;
        margin-top: -2.4rem;
        margin-bottom: 1rem;
    }

    .section-plumbing .text-plumbing #services{
        color: white;
        font-size: 3.5rem;
        font-weight: 700;
        margin-top: -2.4rem;
    }

    .image-plumbing{
        flex-direction: row;
        margin-right: 9rem;
        flex-wrap: wrap;
        width: 85%;
        flex-direction: column;
        margin-top: 0;
    }

    .image-plumbing #img-plumbing1{
        width: 168%;
        height: 18rem;
        overflow: hidden; 
        object-fit:cover; 
    }
    
    .image-plumbing #img-plumbing2{
        width: 168%;
        height: 18rem;
        overflow: hidden; 
        object-fit:cover;
        margin-right: -2rem;
    }
    
    .image-plumbing #img-plumbing3{
        width: 168%;
        height: 18rem;
        overflow: hidden; 
        object-fit:cover;
    }
    
    .image-plumbing #img-plumbing4{
        width: 168%;
        height: 18rem;
        overflow: hidden; 
        object-fit:cover; 
        margin-right: -2rem;
    }


    .section-to-do{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        padding: 1.8rem;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-to-do .text-9{
        font-size:1.7rem;
        font-weight: bold;
        width: 10000px;
    }

    .section-to-do .text-9 #text-p{
        font-size: 1.4rem;
        font-weight: normal;
        margin-top: 1.5rem;
        width: 85%;
        justify-content:center;
        font-display: center;
        margin-left: 1.4rem;
        margin-right: -2rem;
    } 

    .button-to-do{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 3rem;
        margin-right: -2rem;
    } 
    .row{
       align-items: center;
       display: flex;
       margin-left: 0px;
       margin-right: 0px;
    }
    .button-to-do .button1{
        padding: 16px;
        border-style: solid;
        border-color: red;
        border: none;
        border-radius: 0.2rem;
        width: 150px;
        height: 53px;
        font-weight: bold;
        color: white;
        background-color:#E71A23;
        margin-bottom:2rem;
        margin-left: 2rem;
        margin-top: 1.5rem;
    }

    .button-to-do .button1:hover{
        background-color: #D1161E;
    }

    .button-to-do .button2{
        padding: 16px;
        border-style: solid;
        border-color: black;
        border: black solid
        border-radius: 0.3rem;
        width: 160px;
        height: 53px;
        font-weight: bold;
        color: black;
        background-color:white;
        margin-right: -4rem;
        margin-left: 1.7rem; 
    }

    .button-to-do .button2:hover{
        color: rgb(214, 234, 253);
    }

    footer{
        width: 100%;
        height:239px;
        background-color: #333333;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .text-footer1{
        color: white;
        width: 86%;
        margin-top: -3.23rem;
        font-size: 0.89rem;
    }

    .sample-section .text-footer{
        width: 110%;
        margin-top:4rem;
        margin-bottom: -2rem;
    }


 

